.mainMenu a {
  color: #345693;
  text-decoration-color: #b81007;
  text-underline-offset: var(--s-4);
}

.current::before {
  color: #050704;
  content: "\2192";
  margin-left: calc(var(--s1) * -1);
  position: absolute;
}

.mainMenu li {
  list-style: none;
}
