:root {
  --ratio: 1.25;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --measure: 75ch;
}

* {
  background-color: #f7f5e8;
  box-sizing: border-box;
  color: #050704;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--s0);
  margin: 0;
  padding: 0;
}

body {
  padding: var(--s2);
}

img {
  width: 100%;
}

a {
  color: #b81007;
}

a:visited {
  color: #345693;
}

h1,
h2 {
  font-family: Actor;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--s5);
  line-height: 1;
}

h2 {
  font-size: var(--s2);
}

p,
li {
  line-height: 1.6;
}

li {
  margin-bottom: var(--s-3);
}

dl {
  display: grid;
  grid-auto-columns: min-content max-content;
  grid-auto-flow: column;
  grid-gap: var(--s-3);
  margin: 0;
}

dt {
  font-weight: bold;
  grid-column: 1;
}

dd {
  margin: 0;
}

footer {
  border-top: 4px #dfcc4c solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: var(--s3);
  padding-top: var(--s-1);
  text-align: right;
}

footer * {
  font-size: var(--s-1);
}
