:root {
  --ratio: 1.4;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1.1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --measure: 70ch;
}

* {
  background-color: #f7f5e8;
  box-sizing: border-box;
  color: #050704;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--s0);
  margin: 0;
  padding: 0;
}

body {
  padding: var(--s2);
}

.shell {
  box-sizing: border-box;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

img {
  width: 100%;
}

a,
button {
  color: #b81007;
}

a:visited {
  color: #345693;
}

nav button {
  border: 0;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: Actor;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--s3);
  line-height: 1;
}

h2 {
  font-size: var(--s2);
}

.listing h2 {
  font-size: var(--s1);
}

.selected-media h2 {
  border-bottom: 2px #dfcc4c solid;
  padding-bottom: var(--s0);
}

.selected-media .h-entry {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

h3 {
  font-size: var(--s1);
}

p,
li {
  line-height: 1.6;
}

li {
  margin-top: var(--s0);
}

li:first-of-type {
  margin-top: 0;
}

dl {
  display: grid;
  grid-auto-columns: min-content max-content;
  grid-auto-flow: column;
  grid-gap: var(--s-3);
  margin: 0;
}

dt {
  font-weight: bold;
  grid-column: 1;
}

dd {
  margin: 0;
}

footer {
  border-top: 4px #dfcc4c solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: var(--s3);
  padding-top: var(--s-1);
  text-align: right;
}

footer * {
  font-size: var(--s-1);
}

/* SVG overrides for recharts */
.recharts-cartesian-axis-tick-value tspan {
  fill: #050704;
  font-size: var(--s-1);
}

/* datepicker form */
.dp-form input {
  padding: var(--s-4);
}

.dp-input {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-grow: 1;
  margin-bottom: var(--s-1);
}

.dp-input label {
  padding: var(--s-4);
  width: var(--s3);
}

.dp-input input {
  flex-grow: 1;
}

.rdp {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: -15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.picker {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
