:root {
  --ratio: 1.4;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1.1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --measure: 60ch;

  --colour-shade-light: #BFD7EA;
  --colour-accent-sub: #087E8B;
  --colour-accent-main: #B81007;
  --colour-shade-dark: #060707;
}

* {
  background-color: var(--colour-shade-light);
  box-sizing: border-box;
  color: var(--colour-shade-dark);
  font-family: "Hind Madurai", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6;

  font-size: var(--s0);
  margin: 0;
  padding: 0;
}

body {
  padding: var(--s2);
}

.shell {
  box-sizing: border-box;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

img {
  width: 100%;
}

a,
button {
  color: var(--colour-accent-main);

  text-decoration-color: var(--colour-accent-sub);
  text-underline-offset: var(--s-4);

}

nav button {
  border: 0;
  cursor: pointer;
}

h1,
h2,
h3 {
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-optical-sizing: auto;
  font-style: normal;
  
  margin: 0;
  padding: 0;
  
}

h1 {
  font-size: var(--s3);
  letter-spacing: -2px;
  line-height: 1.1;
}

h2 {
  font-size: var(--s2);
  letter-spacing: -1px;
}

.listing h2 {
  font-size: var(--s1);
}

.selected-media h2 {
  border-bottom: 2px var(--colour-accent-sub) solid;
  padding-bottom: var(--s0);
}

.selected-media .h-entry {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

h3 {
  font-size: var(--s1);
}

p,
li {
  line-height: 1.6;
}

li {
  margin-top: var(--s0);
}

li:first-of-type {
  margin-top: 0;
}

dl {
  display: grid;
  grid-auto-columns: min-content max-content;
  grid-auto-flow: column;
  grid-gap: var(--s-3);
  margin: 0;
}

dt {
  font-weight: bold;
  grid-column: 1;
}

dd {
  margin: 0;
}

footer {
  border-top: 4px var(--colour-accent-sub) solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: var(--s3);
  padding-top: var(--s-1);
  text-align: right;
}

footer * {
  font-size: var(--s-1);
}

/* SVG overrides for recharts */
.recharts-cartesian-axis-tick-value tspan {
  fill: var(--colour-shade-dark);
  font-size: var(--s-1);
}

/* datepicker form */
.dp-form input {
  padding: var(--s-4);
}

.dp-input {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-grow: 1;
  margin-bottom: var(--s-1);
}

.dp-input label {
  padding: var(--s-4);
  width: var(--s3);
}

.dp-input input {
  flex-grow: 1;
}

.line-selector-form {
  display: flex;
  align-items: center;
}
.line-selector-cb {
  display: flex;
  gap: 10px;
  flex-grow: 1;
  margin-bottom: var(--s-1);
}

.line-selector-cb label {
  padding: var(--s-4);
  width: var(--s3);
  flex: 1;
}

.rdp {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: -15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.picker {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
