.logo {
  border-bottom: 4px var(--colour-accent-sub) solid;
  display: block;
  padding-bottom: var(--s1);
  text-decoration: none;
}

.logo * {
  font-family: Actor;
  font-size: var(--s2);
  line-height: 1;
  overflow-wrap: break-word;
}

.logo span {
  display: block;
}

.logo .highlighted {
  color: #b81007;
}
