.mainMenu a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.mainMenu a:visited {
  color: var(--colour-accent-main);
}

.current::before {
  color: var(--colour-shade-dark);
  content: "\2192";
  margin-left: calc(var(--s1) * -1);
  position: absolute;
}

.mainMenu li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

.mainMenu li:first-child {
  padding-left: 0;
}
